<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DustInTheWind.WindowsApi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.ConsoleApi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Core" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Errhandlingapi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Fileapi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Handleapi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.ProcessEnv" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Processthreadsapi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Sysinfoapi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Winbase" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Windef" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Wingdi" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Winnt" version="1.2.0" targetFramework="net48" />
  <package id="DustInTheWind.WindowsApi.Winuser" version="1.2.0" targetFramework="net48" />
</packages>